body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}
h1{
color: darkviolet;
}
p{
    color: #ff00ff;
}

div{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
a{
    color: crimson;
}